[Application Options]
datadir={{ lnd_data_dir }}
alias={{ lnd_alias }}
debuglevel={{ lnd_log_level }}
listen={{ lnd_listen }}
gc-canceled-invoices-on-startup=true
gc-canceled-invoices-on-the-fly=true
tlsextradomain={{ lnd_tls_extra_domain }}
{% if lnd_wallet_unlock_password is defined %}
wallet-unlock-password-file={{ lnd_data_dir }}/wallet.pw
{% endif %}
{% if lnd_extra_application_options is defined %}
{% for option in lnd_extra_application_options %}
{{ option }}
{% endfor %}
{% endif %}


[Bitcoin]
bitcoin.{{ lnd_network }}=true
bitcoin.node=bitcoind


[Bitcoind]
bitcoind.dir={{ lnd_bitcoind_dir }}
bitcoind.config={{ lnd_bitcoind_config }}
bitcoind.rpchost={{ lnd_bitcoind_rpc_host }}
bitcoind.rpcuser={{ lnd_bitcoind_rpc_user }}
bitcoind.rpcpass={{ lnd_bitcoind_rpc_password }}
bitcoind.zmqpubrawblock=tcp://{{ lnd_bitcoind_rpc_host }}:28332
bitcoind.zmqpubrawtx=tcp://{{ lnd_bitcoind_rpc_host }}:28333
bitcoind.zmqreaddeadline=10s


[tor]
tor.active={{ lnd_tor_active }}
tor.v3={{ lnd_tor_active }}
{% if lnd_tor_active and lnd_tor_hybrid_mode %}
tor.skip-proxy-for-clearnet-targets=true
{% endif %}


[bolt]
db.bolt.auto-compact={{ lnd_bolt_auto_compact }}
db.bolt.auto-compact-min-age={{ lnd_bolt_auto_compact_min_age }}


[watchtower]
watchtower.active={{ lnd_watchtower_active }}
